@import url('../css/common.css');

body {
    background: #fff;
}

#wrapper {
    width: 1600px;
    height: 900px;
    position: relative;
}

.score {
    text-align: right;
    font-size: 36px;
}


.counter {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: red;
    font-weight: bold;
    padding-top: 10px;
    font-size: 20px;
    position: relative;
    /* z-index: 9999; */
}


#wrapper .playground {
    background: url(../images/three.jpg) center / cover;
    width: 1600px;
    height: 900px;
    position: absolute;
    z-index: -1000;

}

/* #wrapper #cat img {
    position: absolute;
    bottom: 50px;
    left: 168px; 
    /* 400/2-32 
    z-index: 1000;
} */

#wrapper .cat {
    background: green;
    background: url(../images/cat.png) center /cover;
    z-index: 9999;

}

#wrapper .fish {
    background: red;
}


#wrapper .fish img {
    position: absolute;
    z-index: 999;
    top: 0;
    /* display: none; */
}


#wrapper .fish.fish1 img {
    left: 0px;
}

#wrapper .fish.fish2 img {
    left: 50px;
}

#wrapper .fish.fish3 img {
    left: 100px;
}

#wrapper .fish.fish4 img {
    left: 150px;
}

#wrapper .fish.fish5 img {
    left: 200px;
}

#wrapper .fish.fish6 img {
    left: 250px;
}

#wrapper .fish.fish7 img {
    left: 300px;
}

#wrapper .fish.fish8 img {
    left: 350px;
}

/* #wrapper .fish.fish9 img {
    left: 200px;
}

#wrapper .fish.fish10 img {
    left: 225px;
}

#wrapper .fish.fish11 img {
    left: 250px;
}

#wrapper .fish.fish12 img {
    left: 275px;
}

#wrapper .fish.fish13 img {
    left: 300px;
}

#wrapper .fish.fish14 img {
    left: 325px;
}

#wrapper .fish.fish15 img {
    left: 350px;
}

#wrapper .fish.fish16 img {
    left: 375px;
} */


.background>ul {
    border: 1px solid #000;
    margin: 0 auto;
    width: 1600px;
    height: 900px;
}

.background>ul>li {
    width: 1600px;
}

.background>ul>li>ul {
    display: flex;
    z-index: 1;
}

.background>ul>li>ul>li {
    width: 80px;
    height: 100px;
    outline: 1px solid #ccc;
}





/* fall 클래스가 붙으면 떨어지는 애니메이션 */
/* 애니메이션 10s 속성으로 만들자  */
/* .fall {
    animation: falling 8s linear forwards;
}

@keyframes falling {
    from {
        transform: translate(0, -900px);
    }

    to {
        opacity: 0.8;
        transform: translate(0, 0);
    }
} */




